<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <title>VacationSplit</title>

    
    <title>@ViewData["Title"] - VacationSplit</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VacationSplit.styles.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
    </head>






<body>
    <header>
        <a href="@Url.Action("Index", "Home")" class="logo"><span>VACATION</span><span id="split-text">Split</span></a>
        <div class="menuToggle" onclick="toggleMenu();"></div>
        <span></span>
        <span></span>
        <span></span>

        <ul class="navbar">
            <li><a href="@Url.Action("Index", "Home")" onclick="toggleMenu();">Accueil</a></li>
            <li><a href="@Url.Action("Index", "Home")#apropos"  onclick="toggleMenu();">À propos</a></li>

            @if (ViewBag.IsLoggedIn != null && (bool)ViewBag.IsLoggedIn)
            {
                <li><a href="@Url.Action("Index", "Categories")" onclick="toggleMenu();">Catégories</a></li>
                <li><a href="@Url.Action("Index", "Expense")" onclick="toggleMenu();">Dépenses</a></li>
                <li><a href="@Url.Action("Logout", "Login")" onclick="toggleMenu();">Déconnexion</a></li>
                <li><a href ="@Url.Action("Details", "Account")" class="float-right" onclick="toggleMenu();">Bonjour, @ViewBag.UserName !</a></li>

            }
            else
            {
                <li><a href="@Url.Action("Create", "Account")" onclick="toggleMenu();">Inscription</a></li>
                <li><a href="@Url.Action("Index", "Login")" onclick="toggleMenu();">Connexion</a></li>
            }
         
        </ul>
    </header>

    <div class="container">
        <main role="main" class="pb-3">

                    @RenderBody()
        </main>
    </div>

    <footer class="footer footer-custom text-white mt-5" style="padding: 10px 0; opacity: 0.8; height: 70px; background: rgba(255, 140, 0, 0.8);">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 text-center">
                    &copy; 2023 - VacationSplit - <a class="text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
                <div class="col-md-6 text-center">
                    <div class="social-icons">
                        <a href="#" class="text-white" style="margin-right: 15px;">
                            <i class="fab fa-facebook-f fa-lg"></i>
                        </a>
                        <a href="#" class="text-white" style="margin-right: 15px;">
                            <i class="fab fa-instagram fa-lg"></i>
                        </a>
                        <a href="#" class="text-white" style="margin-right: 15px;">
                            <i class="fab fa-twitter fa-lg"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>





    <script type="text/javascript">
        window.addEventListener('scroll', function () {
            const header = document.querySelector('header');
            header.classList.toggle("sticky", window.scrollY > 0);
        });

        function toggleMenu() {
            const tmenuToggle = document.querySelector('.menuToggle');
            const navbar = document.querySelector('.navbar');
            navbar.classList.toggle('active');
            menuToggle.classList.toggle('active');
        }
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>